*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section1{
    color: white;
    width: 40vw;
    background-color: #0B5DE1;
    padding-left: 4vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section1 h1{
    padding-bottom: 1vh;
}

.feature p{
    line-height: 1.5;
}

.section2{
    width: 60vw;
    background-color: white;
}

.feature{
    display: flex;
    flex-direction: row;
}

.icon{
    width: 5vw;
    height: 10vh;
    box-sizing: border-box;
    margin-right: 2vw;
    background-color: #6596eb94;
    border: none;
    border-radius: 5px;
}

.building{
    background-image: url('./building-solid-new.svg');
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: center;
}

.microscope{
    background-image: url('./microscope-solid-new.svg');
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: center;
}

.todo{
    background-image: url('./clipboard-list-solid-new.svg');
    background-repeat: no-repeat;
    background-size: 4vh;
    background-position: center;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10vw;
    padding-right: 20vw;
    padding-top: 10vh;
    gap: 2vh;
}

.name{
    width: 35vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.report{
    width: 35vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.section2 label{
    font-size:small;
}

.section2 input[type="text"]{
    width: 35vw;
}

.section2 input[type="button"]{
    background-color: #0C50C5;
    color: white;
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: 1vh;
}

.name input[type="text"]{
    width: 16vw;
}

.report input[type="text"]{
    width: 16vw;
}

.section2 h1{
    font-size: 4vh;
    padding-bottom: 4vh;
}

.section2 h3{
    font-weight: 500;
    padding-bottom: 1vh;
}

.section2 input{
    border: none;
    height: 4vh;
    border-radius: 5px;
    background-color: rgba(170, 168, 168, 0.226);
    font-size: 1.8vh;
}

input[type="text"]:focus{
    border: 1px solid rgb(70, 149, 240);
    outline: none;
}

.blueText{
    color: #0C5DE1;
}

.underline{
    padding-bottom: 2vh;
    border-bottom: 0.5vh solid;
    border-color: rgba(128, 128, 128, 0.432);
}

.signup{
    width: 35vw;
    display: flex;
    padding-top: 2.5vh;
    flex-direction: row;
    justify-content: space-between;
}

.signup label{
    font-size: 1.8vh;
    padding-top: 1vw;
}

.signup input[type="checkbox"]{
    margin: 1vw;
}

.blue{
    color: #0C5DE1;
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .section1{
        display: none;
    }
    .section2{
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 10vw;
        padding-top: 5vh;
        margin: 0;
        height: 100vh;
        width: 100vw;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    .section2 input[type="text"]{
        width: 80vw;
    }

    .name input[type="text"]{
        width: 38vw;
    }

    .report input[type="text"]{
        width: 38vw;
    }

    .signup{
        width: 80vw;
    }

    .section2 input[type="button"]{
        width: 20vw;
    }

}